@import '../../assets/styles/reset.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: #fff;
    color: #000;
    width: 80%;

    .modal-content {
      @include flexbox($flex-direction: column);
      margin: 20px 20px 20px 20px;
      height: 100%;

      .modal-img {
        width: 300px;
      }
    }
  }
}
