@import '../../assets/styles/reset.scss';

.modal-overlay {
  @include flexbox;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  transition: opacity 0.5s;

  .modal {
    background-color: #fff;
    color: #000;
    width: 50%;
    animation: appear ease-in-out 0.25s;

    @keyframes appear {
      0% {
        transform: translateY(20px);
      }
    }

    .modal-content {
      @include flexbox($justify-content: center);
      padding: 2rem;
      gap: 3rem;

      .modal-left-side {
        .modal-img {
          height: 350px;
          object-fit: cover;
        }
      }

      .modal-right-side {
        @include flexbox(
          $flex-direction: column,
          $justify-content: center,
          $align-items: flex-start
        );
        height: 350px;
        gap: 2rem;
        padding: 0 1rem;
        width: 100%;

        .general {
          @include flexbox($justify-content: space-between);
          width: 100%;

          .general-information {
            @include flexbox($flex-direction: column, $align-items: flex-start);
            gap: 0.5rem;

            .product-name {
              font-size: 1.5rem;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
                sans-serif;
            }

            .product-price {
              font-size: 1rem;
              font-weight: 700;
            }

            .product-portion {
              font-size: 0.9rem;
            }
          }
        }

        .cart-info {
          @include flexbox($flex-direction: column);
          gap: 0.5rem;
        }

        .product-AddToCart {
          @include flexbox;
          flex-wrap: wrap;
          gap: 0.5rem;
          width: 100%;
          margin: 0.3rem 0;
        }

        .product-information {
          text-align: justify;
          font-size: 0.9rem;

          .information-title {
            font-weight: 700;
            margin-bottom: 0.3rem;
          }
        }
      }
    }
  }
}
