@import '../../assets/styles/reset.scss';

.modal-overlay {
  @include flexbox;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  transition: opacity 0.5s;

  .modal {
    background-color: #fff;
    color: #000;
    width: 50%;
    animation: appear ease-in-out 0.25s;

    @keyframes appear {
      0% {
        transform: translateY(20px);
      }
    }

    .modal-content {
      @include flexbox($justify-content: center);
      height: 400px;
      padding: 2rem;
      gap: 3rem;

      .modal-left-side {
        .modal-img {
          height: 350px;
          object-fit: cover;
        }
      }

      .modal-right-side {
        @include flexbox(
          $flex-direction: column,
          $justify-content: flex-start,
          $align-items: flex-start
        );
        height: 350px;
        gap: 1rem;
        padding: 0 1rem;
        width: 100%;

        .product-name {
          font-size: 1.5rem;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .product-price {
          font-size: 1rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
        }

        .cart-info {
          @include flexbox($justify-content: flex-start);
          gap: 1.5rem;

          .product-quantity {
            width: 40px;
            height: 40px;
            padding-left: 0.4rem;
          }

          .product-size {
            height: 40px;
          }

          .product-addToCart {
            @include flexbox;
            gap: 0.5rem;
          }
        }

        .product-information {
          margin-top: 1.5rem;
          text-align: justify;
          font-size: 0.9rem;
        }
      }
    }
  }
}
