@import '../../assets/styles/reset.scss';

.shipping {
  @include flexbox;
  width: 100%;
  height: 50px;
  background-color: var(--text-color);
  color: var(--light-color);
  letter-spacing: 0.05rem;
  font-size: 0.9rem;

  .free {
    font-weight: 700;
  }
}

@media (max-width: 780px) {
  .shipping {
    padding: 0.5rem;
    font-size: 0.7rem;
    text-align: center;
  }
}
