@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

.container {
  padding: 1rem 2rem;
}

@mixin flexbox(
  $display: flex,
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
