@import '../../assets/styles/reset.scss';

.product-size {
  width: 55px;
  height: 40px;
}

@media (max-width: 780px) {
  .product-size {
    width: 50px;
    height: 40px;
    padding-left: 0rem;
    font-size: 0.8rem;
  }
}
